body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100vh;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .wrapper {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  table#t01 {
    font-family: arial, sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    background-color: #f1f1c1;
    border: 1px solid black;
  }
  
  table#t01 th {
    background-color: #EF681A;
    color: white;
    word-wrap: break-word;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  
  
  table#t01 th#one {
    background-color: #FF0000;
    color: white;
    word-wrap: break-word;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  
  
  table#t01 td {
    color: grey;
    word-wrap: break-word;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  
  color {
    color: #EF681A;
    }
  
  table#t02 {
    font-family: arial, sans-serif;
    font-size: 10pt;
    border-collapse: collapse;
    background-color: #f1f1c1;
    border: 1px solid black;
  }
  
  table#t02 th {
    background-color: #EF681A;
    color: white;
    word-wrap: break-word;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  
  table#t02 td {
    color: grey;
    word-wrap: break-word;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd;
  }
  
  .nav-item {
    color: #55565b;
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 25px;
    font-weight: 12px;
    /* marg in-top: auto; */
  }
  
  .nav-item:hover {
    font-weight: bold;
    color: #D2691E
  }
  
  .navbar {
    padding: 0.0rem 0.0rem 0.0rem 10.0rem;
    background-color: #fff;
    color: rgb(72, 70, 70);
  }
  
  #logo {
    margin-left: 15px;
  }
  
  .portal-title {
    border-left: 1px solid #d0d0ce;
    color: #333;
    font-size: 20px;
    font-weight: solid;
    line-height: 0px;
    position: relative;
    visibility: visible;
    opacity: 1;
    padding: 12px 10px 12px 15px;
    margin-top: 15px;
  }
  
  .gradientBorder {
    position: relative;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
  }
  
  .navli {
    display: table-cell;
    padding-left: 30px;
  }
  
  .navlink {
    color:#ffffff !important;
  }
  
  #main-title {
    text-align: left;
    /* border: 5px chocolate; */
    padding: 20px 20px 20px 10%;
    color: #333;
  }
  
  #tc-selector {
    margin: 10% 35% 10px 30%;
  }
  
  #select-tc {
    width: 100%;
    padding: .375rem .75rem;
  }
  
  #showgraph {
    background-color: #D2691E;
    color: white;
    border: none;
    margin: 10px 5% 10px 30%;
  }